Checks: >
  -*
  ,bugprone-*
  ,-bugprone-easily-swappable-parameters
  ,cppcoreguidelines-*
  ,modernize-*
  ,-modernize-use-auto
  ,-modernize-use-trailing-return-type
  ,performance-*
  ,readability-*
  ,misc-*
  ,-cppcoreguidelines-avoid-magic-numbers
  ,-readability-magic-numbers
  ,-cppcoreguidelines-pro-bounds-array-to-pointer-decay
  ,-cppcoreguidelines-pro-bounds-constant-array-index
  ,readability-identifier-naming
  ,-readability-avoid-nested-conditional-operator
  ,-readability-implicit-bool-conversion
  ,-misc-non-private-member-variables-in-classes
  ,-cppcoreguidelines-non-private-member-variables-in-classes
  ,-cppcoreguidelines-pro-type-union-access
  ,-modernize-use-nodiscard
  ,-cppcoreguidelines-pro-type-vararg
  ,-readability-identifier-length
  ,-readability-uppercase-literal-suffix
  ,-cppcoreguidelines-avoid-c-arrays
  ,-modernize-avoid-c-arrays
  ,-cppcoreguidelines-pro-bounds-pointer-arithmetic
  ,-cppcoreguidelines-macro-usage
CheckOptions:
  # Standardized naming conventions:
  - key: readability-identifier-naming.ClassCase
    value: "CamelCase" # Class names (e.g., MyClass)

  - key: readability-identifier-naming.StructCase
    value: "CamelCase" # Struct names (e.g., MyStruct)

  - key: readability-identifier-naming.FunctionCase
    value: "camelBack" # Function names (e.g., myFunction)

  - key: readability-identifier-naming.MethodCase
    value: "CamelCase" # Method names (e.g., myMethod)

  - key: readability-identifier-naming.VariableCase
    value: "camelBack"

  - key: readability-identifier-naming.PrivateMemberPrefix
    value: "_"

  - key: readability-identifier-naming.PrivateMemberCase
    value: "camelBack"

  - key: readability-identifier-naming.PublicMemberCase
    value: "camelBack"

  - key: readability-identifier-naming.ParameterCase
    value: "camelBack"

  # Enforce initialization of all member variables in constructors
  - key: cppcoreguidelines-pro-type-member-init.HaltOnMissingMemberInit
    value: "true"
