# Optional module for direnv.
# This will load the environment variables when cd'ing into the directory.
# To use:
# brew install direnv
# direnv allow

export LLVM_PATH=$(brew --prefix llvm@19)
export PATH="$LLVM_PATH/bin:$PATH"
export LDFLAGS="-L$LLVM_PATH/lib"
export CPPFLAGS="-I$LLVM_PATH/include"
export VCPKG_FEATURE_FLAGS=manifests
